<!-- <html>
	<head>
		<title></title> -->
		<!-- Latest compiled and minified CSS -->
<!-- 		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->

		<!-- Optional theme -->
<!-- 		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="../resources/cute.css">
	</head> -->
	{{define "content"}}
	<body>
		<div id="container" class="container-fluid">
				<div id="header" class="row-fluid">
						<h1 align="center">CuteCode</h1>
				</div>
				<div class="well row-fluid">
					<a href="/signin" class="btn btn-primary btn-block">Sign in</a>
					<a href="/paste" class="btn btn-primary btn-block">Share</a>
				</div>


				<div id="history" class="row-fluid">
					<h3>Code review history - Last 10</h3>
					<ul class="list-group">
						{{range .}}
						<li class="list-group-item">{{.Title}}</li>
						{{end}}
					</ul>
				</div>
		</div>
	</body>
	{{end}}
	<!-- Latest compiled and minified JavaScript -->
	  <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>-->
