<html>
    <head>
        <title></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <link rel="stylesheet" type="text/css" href="../resources/cute.css">
    </head>
    <body>
        <div class="container-fluid">
            <div id="header" class="row-fluid">
                <h1 align="center">
                    CuteCode
                </h1>
            </div>
            <div id="loginbox" class="row-fluid">
                <pre class="jumbotron">
                    Sign in karle?
                </pre>
            </div>
        </div>
    </body>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>
